<!DOCTYPE html>
<html>
<head>
    <title><%= title + ':' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<p><strong>El autor es:</strong></p>
<p><%= credits %></p>
<img src="/images/Shanon.jpg"/>
</body>
</html>